@value color: './color.css';
@value white from color;
._app_name,
._user {
    color: white;
}

._app_name {
    composes: l from './reset.css';
}
._user {
    composes: r from './reset.css';
}

._left_bar,
._left_bar .ant-menu {
    background: #dedede;
}

._main_body {
    background: white;
    padding: 12px 12px 0 12px;
}

._error_404 {
    text-align: center;
}
